# Document-Term Count Matrix

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import plotly_express as px
import configparser
config = configparser.ConfigParser()
config.read("../../../env.ini")

[]

In [3]:
OHCO = ['artist', 'song','lines', 'token_num']
bags = dict(
    WORDS = OHCO[:4],
    LINES = OHCO[:3],
    SONG = OHCO[:2],
    ARTIST = OHCO[:1]
)
bag = 'ARTIST'

## Prepare the Data

In [4]:
TOKEN = pd.read_csv('tokens.csv')
VOCAB = pd.read_csv('vocab.csv')
LIB = pd.read_csv('lib.csv')

In [5]:
BOW = TOKEN.groupby(bags[bag]+['term_str']).term_str.count().to_frame('n')

In [6]:
BOW

                            n
artist          term_str
ADELE           92cause     1
                a         187
                able        1
                about      11
                above       4
...                       ...
WHITNEY HOUSTON yours       6
                yourself    3
                yuletide    1
                z           2
                zone        1

[8218 rows x 1 columns]

In [7]:
DTCM = BOW.n.unstack(fill_value=0)

In [9]:
DTCM

term_str,1,10,130,14,16,180,2,20,2020,213,...,yourself,youu8197,youu8287,youuc0u8197,youuc0u8287,yuh,yuletide,z,zion,zone
artist,,,,,,,,,,,,,,,,,,,,,
ADELE,0,0,0,0,0,0,0,0,0,0,...,4,0,0,0,0,0,0,0,0,0
AMY WINEHOUSE,0,0,0,1,0,1,0,0,0,0,...,16,0,0,0,0,0,0,0,0,0
ARIANA GRANDE,0,0,1,0,0,0,0,0,1,0,...,3,0,0,0,0,27,0,0,0,0
BEYONCE,0,0,0,0,1,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
CYNDI LAUPER,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
DOLLY PARTON,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
DUA LIPA,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
LAURYN HILL,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
PINK,0,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
TAYLOR SWIFT,0,0,0,0,0,0,0,0,0,0,...,2,2,2,2,2,0,0,0,0,0
WHITNEY HOUSTON,0,0,0,0,0,0,0,0,0,1,...,3,0,0,0,0,0,1,2,0,1

In [10]:
csv_file = 'dtcm.csv'
DTCM.to_csv(csv_file)